.content {
    position: absolute;
    display: flex;
    top: 20px;
    right: 20px;
    min-width: 200px;
    border-radius: 8px;
    box-shadow: 0 3px 3px 0 rgba(#000, 0.05), 0 5px 15px 0 rgba(#000, 0.05);
    background-color: var(--c-background-quaternary);
    color: var(--c-text-primary);
}

.info {
    background-color: lightblue;
    color: var(--c-text-primary);
}

.success {
    background-color: #14a44d;
    color: var(--c-background-primary);
}

.danger {
    background-color: #dc4c64;
    color: var(--c-background-primary);
}

.inner {
    margin: 0.8rem;
    display: flex;
    flex-direction: column;
}
