.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  padding: 0.2rem 0.5rem;
  height: 70px;
  min-width: 99%;
  border-bottom: 1px solid var(--c-border-primary);
  background-color: var(--c-background-primary);
  justify-content: center;
}

.content {
  display: flex;
  width: 90%;
  align-items: center;
  gap: 0.2rem;
}

.subHeader {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-bottom: 1px solid var(--c-border-primary);
}

.responsiveWrapper {
  display: flex;
  width: 90%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 340px;
  input {
    font: inherit;
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em 0 36px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid var(--c-border-primary);
    color: var(--c-text-action);
    font-size: 0.875rem;
    transition: 0.15s ease;
    width: 100%;
    line-height: 1;

    &::placeholder {
      color: var(--c-text-action);
    }

    &:focus,
    &:hover {
      border-color: var(--c-accent-primary);
    }
  }

  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: transparent;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.25em;
    color: var(--c-text-action);
    padding: 0;
    height: 40px;
  }
}

.logoName {
  font-weight: bold;
  font-size: large;
}
